body {
    background-color: #f0f0f0;
}

.navbar-brand-custom {
    width: 60px;
}

.banner-title {
    color: #2E8B57; 
}

.social-icon {
    font-size: 22px;
    color: #2E8B57; 
}

.portfolio-title {
    color: #2E8B57;
}

.portfolio-info {
    color: #4682B4;
    list-style: circle;
}

.contact-name, .contact-email {
    height: 50px;
    color: #4682B4;
    padding: 0 10px;
}

.contact-message {
    /* border-top: none; */
    box-shadow: 1px 1px 1px #A9A9A9; 
    border-color: rgba(169, 169, 169, 0.5); 
    color: #4682B4; 
}

.contact-btn {
    padding: 20px 200px;
    background-color: #20B2AA; 
    color: #1E8C80; 
    border: none;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: #1E8C80; 
}

.box-shadow-custom {
    box-shadow: 6px 6px 6px #A9A9A9;
}

hr {
    border-color: #4682B4;
}
